@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.wp10 { width: 10%; } 
.wp20 { width: 20%; } 
.wp30 { width: 30%; } 
.wp40 { width: 40%; } 
.wp50 { width: 50%; } 
.wp60 { width: 60%; } 
.wp70 { width: 70%; } 
.wp80 { width: 80%; } 
.wp90 { width: 90%; } 

.mr10 { margin-right: 10px; } 
.mr20 { margin-right: 20px; } 
.mr30 { margin-right: 30px; } 
.mr40 { margin-right: 40px; } 
.mr50 { margin-right: 50px; } 
.mr60 { margin-right: 60px; } 
.mr70 { margin-right: 70px; } 
.mr80 { margin-right: 80px; } 
.mr90 { margin-right: 90px; } 

.tacenter { text-align: center; }

.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs18 { font-size: 18px; }
.fs19 { font-size: 19px; }
.fs20 { font-size: 20px; }
